html {
  scroll-behavior: smooth;
}

body {
  background-color: #24252a;
}

header nav .left a {
  color: rgb(250, 250, 250);
  margin-right: 4rem;
  transition: all 0.2s ease;
}
header nav .left a:hover {
  color: rgb(29, 221, 189);
}
header nav {
  padding: 0.5rem 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}
.hero {
  padding-top: 4rem;
  /* padding-bottom: 3rem; */
  padding-left: 8rem;
  /* padding-right: 5rem; */
}
.left img {
  width: 290px;
  border-radius: 3%;
}
.right {
  color: rgb(250, 250, 250);
  margin-left: 10rem;
}
.right h2 {
  font-size: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* color: rgb(60, 220, 194); */
  /* margin-bottom: 0.5rem; */
  margin-left: 3rem;
}
.right h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3.3rem;
  font-weight: 200;
  color: rgb(60, 220, 194);
  margin-bottom: 2rem;
}

.right p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* color: rgb(60, 220, 194); */
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.items-centre {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.btn {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.btn-primary {
  background-color: rgb(29, 221, 189);
  /* color: rgb(0, 59, 50); */
  margin-top: 15px;
}
.btn-primary:hover {
  background: transparent;
  border-color: rgb(29, 221, 189);
  color: rgb(29, 221, 189);
}


.heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(29, 221, 189);
  font-size: 4rem;
  font-weight: 500;
}

.about-content {
  color: rgb(250, 250, 250);
  width: 85%;
  margin: 60px auto 100px auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.my-image {
  width: 25%;
  border: 2px solid rgb(29, 221, 189);
  border-radius: 50%;
  float: left;
  margin-right: 30px;
  /* margin-bottom: 10px; */
}



.heading {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 500;
}

.skills ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.skills ul li img {
  height: 150px;
}

.skills ul li:hover {
  transition: 1s;
  scale: 1.3;
}


.foot ul {
  display: flex;
  margin: 2rem;
  position: relative;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  text-align: center;
  list-style: none;
}

.foot ul li:hover {
  transition: 1s;
  scale: 1.3;
}

.copyright {
  height: 40px;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  background-color: #181919;
  font-family: "Montserrat";
}

